@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');



@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-50 cursor-pointer hover:bg-gray-300;
  }

  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl cursor-pointer;
  }

  .smallText {
    @apply text-sm font-playfair
  }

  .baseText {
    @apply text-base font-playfair
  }

  .mediumText {
    @apply text-xl font-playfair
  }
  
  .largeText {
    @apply text-2xl font-playfair
  }
  
  .titleText {
    @apply text-4xl font-playfair 
  }
  
  .addressText {
    @apply text-base font-serif
  }
  
  .bg-home {
    background-size: cover;
    background-image: url('/backgrounds/construccion.png')
  }

  .bg-exchange {
    background-size: cover;
    background-image: url('/backgrounds/marketplace.jpg')
  }

  .bg-lands {
    background-size: cover;
    background-color: #1A1317
  }
  
  .bg-battle {
    background-size: cover;
    background-image: url('/backgrounds/batalla1.png')
  }
  
  .bg-army {
    background-size: cover;
    background-image: url('/backgrounds/batalla2.png')
  }
  
  .bg-alchemy {
    background-size: cover;
    background-image: url('/backgrounds/construccion.png')
  }
  
  .bg-coffers {
    background-size: cover;
    background-image: url('/backgrounds/marketplace.jpg')
  }
}